.size-btn{
    width: 50px;
    height: 46px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100;
    margin-left: 10px;
    cursor: pointer;
    transition: border 0.3s ease;
}
.size-btn a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.size-btn:focus{
    border: 1px solid black;
}
.size-btn:active{
    border: 1px solid black;
}